﻿@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">

            <img src="~/images/intelligent-books-to-read.png" alt="Visual Studio" class="img-responsive" />
            
            <div class="carousel-caption">
                <p>
                    Learn how to build ASP.NET apps that can run anywhere.
                    <a class="btn btn-default btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">

             
            <img src="~/images/imagebook.png"  alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption">
                <p>
                    There are powerful new features in Visual Studio for building modern web apps.
                    <a class="btn btn-default btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/ASP-NET-Banners-02.png" alt="Package Management" class="img-responsive" />
            <div class="carousel-caption">
                <p>
                    Bring in libraries from NuGet, Bower, and npm, and automate tasks using Grunt or Gulp.
                    <a class="btn btn-default btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525029&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/Banner-01-Azure.png" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption">
                <p>
                    Learn how Microsoft's Azure cloud platform allows you to build, deploy, and scale web apps.
                    <a class="btn btn-default btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>login</h2>
        <ul>
            <li>Signup</li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=518007">FREE trail and Browser for managing  client side libraraies</a> and <a href="http://go.microsoft.com/fwlink/?LinkId=518004">Bower</a> for managing client-side libraries</li>
            <li>Theming using <a href="http://go.microsoft.com/fwlink/?LinkID=398939">Theming using paid version</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Books</h2>
        <ul>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=398600">Horror</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=699314">Myth.</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=699315">funny</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=699316">fiction.</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=699317">Zoology</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=699318">Advance Database</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>contact</h2>
        <ul>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=518008">naveen malalempati</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=699320">+16605287098.</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=398602">maryville</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=398603">missouri</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=699321">64468</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=699322">305</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=699323">northwest missouri</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Location</h2>
        <ul>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=517851">3rd street</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=517852">Maryville</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=517853">Missouri</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=398609">Usa</a></li>
        </ul>
    </div>
</div>
