@model MallampatiBooks.Models.CD

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>CD</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Singer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Singer)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.CDID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
