@model IEnumerable<MallampatiBooks.Models.CD>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Singer)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Singer)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.CDID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.CDID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.CDID">Delete</a>
        </td>
    </tr>
}
</table>
